$black: #000;
$white: #fff;
$gray: #ededed;
$border: #d8d8d8;
$bg-color: #ebb030;

$blue: #277dee;
$red: #dd0009;
$orange: #ec672e;
$blaze-red:  #f16060;
$greya: #f3f3f3;
$greyb: #d6d6d6;
$greyc: #a8a6a6;

$menu-home: #54bdb4;
$menu-about: #3da4b7;
$menu-news: #c4dfe6;
$menu-doc: #07575b;
$menu-contact: #003b46
