.subtask-info{
    margin: 1em;
}

.margin-l{
    margin-left: 6px;
}

.day-true, .important-true, .urgent-true{
    background-color: $blue !important;
}

.round-checkbox{
        width: 2em;
        height: 2em;
        background-color: white;
        border-radius: 50%;
        vertical-align: middle;
        border: 1px solid #ddd;
        appearance: none;
        -webkit-appearance: none;
        outline: none;
        cursor: pointer;
}
.position{
    font-size: 20px;
    position: relative;
    right: 23px;
    top: 5px;
}

.clock-icon{
    margin-left: 3px;
}
